@import '../../scss/variables.scss';

.locate{
    display: flex;
    flex-direction: row;
    align-items: center;
    span{
        @include font(600,5.8em);
        color:white;
    }
    p{
        @include font(300, 4.6em);
        color: white;
        padding: 15px 0 0 15px;
    }
   &--field{
        display: flex;
        width: 800px;
        justify-content: space-between;
        margin: 20px 40px;
    
        button{
            font-size: 3.5em;
        }
    }
}
